{% extends 'base.html' %}

{% block content %}
    <div class="columns">
        <div class="column is-2">
            {% include 'menu.html' %}
        </div>
        <div class="column is-10">
            <h1 class="title" style="text-align: left">Statistics</h1>

            <canvas style="background-color: rgba(226, 236, 228, 0.8)" id="myChart" width="400" height="200"></canvas>
            <canvas style="background-color: rgba(226, 236, 228, 0.8); margin-top: 20px" id="myChart1" width="400"
                    height="200"></canvas>

            <script>

                const ctx = document.getElementById('myChart').getContext('2d');

                const myChart = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: [{% for item in labels %}
                            "{{item}}",
                        {% endfor %}],
                        datasets: [{
                            label: '{{ lbl }}',
                            data: {{ data }},
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }

                });

                const ctx1 = document.getElementById('myChart1').getContext('2d');

                const myChart1 = new Chart(ctx1, {
                    type: 'bar',
                    data: {
                        labels: [{% for item in labels1 %}
                            "{{item}}",
                        {% endfor %}],
                        datasets: [{
                            label: '{{ lbl1 }}',
                            data: {{ data1 }},
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255, 99, 132, 1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }

                });
            </script>
        </div>
    </div>

{% endblock %}